#container {
  width: 80%;
  margin: 0 auto;
}

img {
  width: 30%;
  margin: 1.3%;
}

h1 {
  margin-left: 5%;
  font-size: 40px;
  font-weight: bold;
  font-family: "Sigmar", cursive;
  text-transform: uppercase;
  border-bottom: solid 2px red;
  width: 15%;
  padding: 1%;
}
